
.beer{
    width: 235px;
    background-color: rgb(211, 217, 227);
    border-radius: 10px;
    box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 20%);
    padding-top: 1ch;
    padding-bottom: 2ch;
    *{
        width: 220px;
    }
    &__name{
        text-overflow: clip;
        padding: 0.25ch;
        height: 4.5ch;
    }
    &__image{
        width: auto;
        height: 300px;
        object-fit: cover;
        margin: 1ch 0;
    }
    &__tagline{
        height: 4ch;
        margin: 1ch;
    }
}

.beer:hover{
    transform: scale(1.1);
    background-color: rgb(250, 211, 211);
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

