$column-width: 220px;

.beer-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2ch;
}

.beer-modal{
    display: grid;
    grid-template:
    "beer-image customer-info" auto
    "beer-image brewery-info" auto/
    auto 1fr;
    padding: 3ch;
    background-color: white;
    border: 5px solid rgb(88, 11, 11);
    border-radius: 10px;  
    //overflow: scroll;
    background-image: url("../../images/White-Grunge-Wall-Texture2.webp");
    background-attachment: fixed;
}

.beer-image{
    grid-area: beer-image;
    margin-left: 2ch;
    margin-right: 2ch;
    margin-top: auto;
    margin-bottom: auto;
    height: 850px;
    width: auto;
} 

.customer-info{
    grid-area: customer-info;
    max-width: 80ch;
    *{
        margin-top: 1ch;
    }
    &__heading{
        font-size: 3em;
    }
    &__desc{
        text-align: justify;
        padding-left: 2ch;
        padding-right: 2ch;
    }
    &__food-list{
        max-width: 40ch;
        margin-left: 30%;
        margin-right: 10%;
    }
    &__food-li{
        text-align: left;
    }
}

.brewery-info{
    grid-area: brewery-info;
    max-width: 80ch;
    *{
        margin-top: 1ch;
    }

    &__heading{
        font-size: 3em;
        max-width: 40ch;
        margin-left: auto;
        margin-right: auto;
    }
    &__tips{
        text-align: justify;
        padding-left: 2ch;
        padding-right: 2ch;
    }
    &__container{
        display: flex;
        padding-left: 2ch;
        padding-right: 2ch;
    }
}

.brewery-info-column{
    width: $column-width;
    overflow: hidden;
    &__li{
        text-align: left;
        margin-left: 20%;
    }
    &__li-hops{
        text-align: left;
        margin-left: 30%;
    }
    &__li-attributes{
        text-align: left;
        margin-left: 40%;
    }
}

@media screen and (max-width: 968px) {
    .beer-modal-background{
        overflow: scroll;
    }
    .brewery-info,
    .customer-info{
        max-width: 40ch;
    }
    .brewery-info{
        max-width: 40ch;
    }
    .response-no-display{
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .beer-modal-background{
        overflow: scroll;
    }
    .beer-modal{
        grid-template:
        "beer-image" auto
        "customer-info" auto
        "brewery-info" auto/
        1fr;
    }
    .beer-image{
        display: none;
    }
}