.main-container{
    grid-area: main-container;
    display: grid;
    grid-template-columns: repeat(auto-fit, 235px);
    justify-content: space-evenly;
    gap: 25px;
    margin-top:20px;
    margin-bottom: 1080px;
}

.beer-counter{
    grid-area: beer-counter;
}
