@import "./scss/base";

html {
    scroll-behavior: smooth;
  }

.app-container{
    display: grid;
    grid-template:
    "header-container header-container header-container" auto
    "hero-container hero-container hero-container" auto
    "beer-counter beer-counter beer-counter" auto
    ". sidebar-container main-container" auto /
    2ch 25ch 1fr;
    gap: 1ch;
    padding: 1ch;
    &__beer-count{
        position: sticky;
        top: 100%;
        margin-top: 2ch;  
    }
    &__back-to-beers {
        position: fixed;
        display: inline-block;
        left: 5px;
        bottom: 5px;
        .back-to-beers-icon {
            fill: rgb(211, 217, 227);
            width: 50px;
            background-color: white;
            border: 3px solid rgb(211, 217, 227);;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 500px) {
   
    .app-container{
        grid-template:
        " header-container" auto
        "sidebar-container" auto
        "beer-counter" auto
        "main-container" auto /
        1fr;
    }
}

