@import "./scss/base";

.app-container{
  display: grid;
  grid-template:
  "header-container header-container header-container" auto
  ". sidebar-container main-container" auto /
  0.1fr 40ch 1fr;
  gap: 1ch;
  padding: 1ch;
}

