.header-container{
    grid-area: header-container;
    text-align: center;

    &__h1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 3em;
        padding: 1ch;
        max-width: 35ch;
        background-color: rgb(221, 237, 243);
        box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 20%);
    }
}